.button-shadow {
  box-shadow: -3px -3px 0px 1px rgba(12, 12, 12, 0.8) inset;
}

.button-shadow:active {
  box-shadow: 1px 1px 0px 0px rgba(12, 12, 12, 0.8) inset;
}

.btn-shadow-white {
  box-shadow: -3px -3px 0px 1px rgba(131, 131, 131, 0.8) inset;
}

.btn-shadow-white:active {
  box-shadow: 1px 1px 0px 0px rgba(131, 131, 131, 0.8) inset;
}

.btn-shadow-correct {
  box-shadow: -3px -3px 0px 1px rgba(148, 26, 0, 0.8) inset;
}

.btn-shadow-correct:active {
  box-shadow: 1px 1px 0px 0px rgba(148, 26, 0, 0.8) inset;
}

.btn-shadow-confirm {
  box-shadow: -3px -3px 0px 1px rgba(2, 87, 0, 0.8) inset;
}

.btn-shadow-confirm:active {
  box-shadow: 1px 1px 0px 0px rgba(2, 87, 0, 0.8) inset;
}

.btn-shadow-new {
  box-shadow: -3px -3px 0px 1px rgba(0, 15, 140, 0.8) inset;
}

.btn-shadow-new:active {
  box-shadow: 1px 1px 0px 0px rgba(0, 15, 140, 0.8) inset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
